<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="sqllitejdbcOps" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg><ref bean="sqlliteDriverManagerDatasource"/></constructor-arg>
	</bean>

	<bean name="sqlliteDriverManagerDatasource"
		class='org.springframework.jdbc.datasource.DriverManagerDataSource'>
		<constructor-arg>
			<value>"jdbc:sqlite:G:/StartupReset/backend_game_domain/GameDomain/domain/src/main/resources/GAME.DB"
			</value>
		</constructor-arg>
	</bean>
	
	<bean name="SqlliteTestDao" class="com.copypasteproductions.game.socialchallengegame.domain.game.domain.dao.SpringJdbcSqliteGameLobbyDao">
	<constructor-arg>
		<ref bean="sqllitejdbcOps" />
	</constructor-arg>
	</bean>
	
</beans>
